name: CI

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - master

jobs:
  build:
    name: Ruby ${{ matrix.version }} ${{ matrix.gemfile }}
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.2
          - 3.3
        gemfile:
          - gemfiles/Gemfile.rails72
          - gemfiles/Gemfile.latest-release
    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby ${{ matrix.version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.version }}
          bundler-cache: true

      - name: Test
        run: bundle exec rake test
